*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-size:16px;
    overflow-y: scroll;
    overflow-x: hidden;
}

body{
    padding:0;
    margin:0;
    cursor:default;
    font-family:"Inter", Arial, sans-serif;
}

.header_banner{
    display:flex;
    justify-content:center;
    width:100vw;
    min-width:1440px;
    height:10vh;
    min-height:75px;
    position:sticky;
    z-index:50;
    top:0;
    border-bottom:solid;
    border-bottom-width:1px;
    border-bottom-color:rgba(30, 41, 59, 1);
    background:linear-gradient(180deg,#0f192d, #0b1220);
}

.header_container{
    display:block;
    width:80vw;
    max-width:1280px;
    min-width:1152px;
    padding:16px 24px;
    height:100%;
}

.logo{
    float:left;
    width:15vw;
    min-width:171px;
    color:rgba(34, 211, 238, 1);
    font-family: "Pacifico", cursive;
    font-size:1.5rem;
    line-height:2rem;
}

.header_options{
    display:flex;
    align-items:center;
    justify-content:space-between;
    float:right;
    width:40vw;
    min-width:560px;
    height:56%;
    min-height:42px;
}

.header_button{
    display:flex;
    justify-content:center;
    width:7vw;
    min-width:105px;
    color:rgba(203, 213, 225, 1);
    font-size:1rem;
}

.homepage{
    display:block;
    height:90vw;
    min-height:1024px;
    max-height:1024px;
    width:100vw;
    min-width:1420px;
    padding-top:500px;
    background-image:url("./images/reneeface.jpg");
    background-color:rgba(15, 23, 42, 0.7);
    background-blend-mode:multiply;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center top;
}

.homepage_inner{
    display:block;
    width:100%;
    height:25vh;
    min-height:357px;
    padding:0px 80px;
}

.homepage_inner .line_1{
    padding-left:24px;
    color:rgba(255, 255, 255, 1);
    font-size:4.5rem;
    line-height:4.5rem;
    font-weight:bold;
}

.homepage_inner h1{
    padding-left:24px;
    color:rgba(34, 211, 238, 1);
    font-size:4.5rem;
    line-height:4.5rem;
    font-weight:bold;
}

.homepage_inner .line_2{
    padding-left:24px;
    color:rgba(203, 213, 225, 1);
    font-size:1.875rem;
    line-height:2.25rem;
    letter-spacing:3%;
}

.homepage_inner .homepage_paragraph{
    width:50vw;
    max-width:733px;
    min-width:645px;
    padding-left:24px;
    padding-top:18px;
    padding-bottom:30px;
    color:rgba(203, 213, 225, 1);
    font-size:1.25rem;
    line-height:2rem;
}

.homepage_inner_button{
    display:flex;
    justify-content:center;
    align-items:end;
    width:0.9vw;
    min-width:1232px;
    height:10vh;
    min-height:103px;
}

.homepage_inner .homepage_inner_button1{
    font-size:1.2rem;
    width:178px;
    height:56px;
    padding:16px 32px;
    margin:0px 8px;
    color:rgba(255, 255, 255, 1);
    font-size:1rem;
    line-height:1.5rem;
    font-weight:600;
    background:rgba(6, 182, 212, 1);
    border:none;
    border-radius:8px;
}

.homepage_inner .homepage_inner_button2{
    font-size:1.2rem;
    width:165px;
    height:58px;
    padding:16px 30px;
    margin:0px 8px;
    color:rgba(34, 211, 238, 1);
    font-size:1rem;
    line-height:1.5rem;
    font-weight:600;
    background:none;
    border:solid;
    border-width:2px;
    border-color:rgba(34, 211, 238, 1);
    border-radius:8px;
}

.homepage_inner_arrow{
    width:15.56;
    height:16px;
    margin:30px 48%;
    color:rgba(34, 211, 238, 1);
}

.homepage_inner .homepage_inner_button1:hover{
    cursor:pointer;
}

.homepage_inner .homepage_inner_button2:hover{
    cursor:pointer;
}

.homepage_inner_arrow:hover{
    cursor:pointer;
}

.aboutpage{
    display:grid;
    grid-template-rows:444px;
    grid-template-columns:592px 592px;
    gap:3rem;
    justify-content:center;
    width:100vw;
    min-width:1420px;
    height:60vh;
    min-height:604px;
    padding-top:80px;
    background-color:rgba(2, 6, 23, 1);
}

.aboutpage_content{
    width:592px;
    height:328px;
}

.aboutpage_content_title{
    font-size:2.25rem;
    line-height:2.5rem;
    color:rgba(255, 255, 255, 1);
    font-weight:bold;
}

.aboutpage_content_divider{
    height:4px;
    width:80px;
    margin:16px 0px;
    background-color:rgba(34, 211, 238, 1);
}

.aboutpage_content_inner{
    width:592px;
    height:212px;
    padding-top:32px;
    color:rgba(203, 213, 225, 1);
    font-size:1rem;
    line-height:1.625rem;
}

.aboutpage_content_link{
    height:56px;
    padding-top:32px;
    color:rgba(34, 211, 238, 1);
    text-decoration-line:none;
}

.aboutpage_progress{
    width:592px;
    height: 444px;
}

.aboutpage_progress_title{
    width:592px;
    height:64px;
    padding-bottom:32px;
    font-size:1.5rem;
    font-weight:600;
    color:rgba(255, 255, 255, 1);
}

.aboutpage_progress_SP{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:28px;
}

.aboutpage_progress_SP_title{
    font-size:1rem;
    line-height:1.5rem;
    color:rgba(203, 213, 225, 1);
}

.aboutpage_progress_SP_percent{
    font-size:0.875rem;
    line-height:1.25rem;
    color:rgba(148, 163, 184, 1);
}

.aboutpage_progress_SP_outer{
    width:100%;
    height:8px;
    margin-top:8px;
    border-radius:4px;
    background-color:rgba(51, 65, 85, 1)
}

.aboutpage_progress_SP_inner{
    display:block;
    width:95%;
    height:100%;
    background:linear-gradient(90deg, rgba(6, 182, 212, 1), rgba(59, 130, 246, 1));
}

.aboutpage_progress_PDP{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:28px;
    margin-top:20px;
}

.aboutpage_progress_PDP_title{
    font-size:1rem;
    line-height:1.5rem;
    color:rgba(203, 213, 225, 1);
}

.aboutpage_progress_PDP_percent{
    font-size:0.875rem;
    line-height:1.25rem;
    color:rgba(148, 163, 184, 1);
}

.aboutpage_progress_PDP_outer{
    width:100%;
    height:8px;
    margin-top:8px;
    border-radius:4px;
    background-color:rgba(51, 65, 85, 1)
}

.aboutpage_progress_PDP_inner{
    display:block;
    width:90%;
    height:100%;
    background:linear-gradient(90deg, rgba(6, 182, 212, 1), rgba(59, 130, 246, 1));
}

.aboutpage_progress_LP{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:28px;
    margin-top:20px;
}

.aboutpage_progress_LP_title{
    font-size:1rem;
    line-height:1.5rem;
    color:rgba(203, 213, 225, 1);
}

.aboutpage_progress_LP_percent{
    font-size:0.875rem;
    line-height:1.25rem;
    color:rgba(148, 163, 184, 1);
}

.aboutpage_progress_LP_outer{
    width:100%;
    height:8px;
    margin-top:8px;
    border-radius:4px;
    background-color:rgba(51, 65, 85, 1)
}

.aboutpage_progress_LP_inner{
    display:block;
    width:85%;
    height:100%;
    background:linear-gradient(90deg, rgba(6, 182, 212, 1), rgba(59, 130, 246, 1));
}

.aboutpage_progress_LL{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:28px;
    margin-top:20px;
}

.aboutpage_progress_LL_title{
    font-size:1rem;
    line-height:1.5rem;
    color:rgba(203, 213, 225, 1);
}

.aboutpage_progress_LL_percent{
    font-size:0.875rem;
    line-height:1.25rem;
    color:rgba(148, 163, 184, 1);
}

.aboutpage_progress_LL_outer{
    width:100%;
    height:8px;
    margin-top:8px;
    border-radius:4px;
    background-color:rgba(51, 65, 85, 1)
}

.aboutpage_progress_LL_inner{
    display:block;
    width:82%;
    height:100%;
    background:linear-gradient(90deg, rgba(6, 182, 212, 1), rgba(59, 130, 246, 1));
}

.aboutpage_progress_S{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:28px;
    margin-top:20px;
}

.aboutpage_progress_S_title{
    font-size:1rem;
    line-height:1.5rem;
    color:rgba(203, 213, 225, 1);
}

.aboutpage_progress_S_percent{
    font-size:0.875rem;
    line-height:1.25rem;
    color:rgba(148, 163, 184, 1);
}

.aboutpage_progress_S_outer{
    width:100%;
    height:8px;
    margin-top:8px;
    border-radius:4px;
    background-color:rgba(51, 65, 85, 1)
}

.aboutpage_progress_S_inner{
    display:block;
    width:82%;
    height:100%;
    background:linear-gradient(90deg, rgba(6, 182, 212, 1), rgba(59, 130, 246, 1));
}

.aboutpage_progress_SA{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:28px;
    margin-top:20px;
}

.aboutpage_progress_SA_title{
    font-size:1rem;
    line-height:1.5rem;
    color:rgba(203, 213, 225, 1);
}

.aboutpage_progress_SA_percent{
    font-size:0.875rem;
    line-height:1.25rem;
    color:rgba(148, 163, 184, 1);
}

.aboutpage_progress_SA_outer{
    width:100%;
    height:8px;
    margin-top:8px;
    border-radius:4px;
    background-color:rgba(51, 65, 85, 1)
}

.aboutpage_progress_SA_inner{
    display:block;
    width:80%;
    height:100%;
    background:linear-gradient(90deg, rgba(6, 182, 212, 1), rgba(59, 130, 246, 1));
}

.featurepage{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100vw;
    min-width:1420px;
    height:891.5px;
    background-color:rgba(11, 18, 32, 1);
}

.featurepage_title{
    display:flex;
    justify-content:center;
    height:40px;
    width:1232px;
    margin-top:80px;
    font-size:2.25rem;
    line-height:2.5rem;
    color:rgba(255, 255, 255, 1);
    font-weight:bold;
}

.featurepage_divider{
    height:4px;
    width:80px;
    margin-top:16px;
    background-color:rgba(34, 211, 238, 1);
}

.featurepage_subtitle{
    display:flex;
    justify-content:center;
    height:64px;
    width: 1232px;
    margin-bottom:64px;
    padding-top:24px;
    font-size:1rem;
    line-height:1.5rem;
    color:rgba(148, 163, 184, 1);
}

.featurepage_card_container{
    display:flex;
    justify-content:space-between;
    align-items:start;
    width:1232px;
    height:485.5px;
}

.featurepage_card{
    width:390px;
    height:437px;
    border:solid;
    border-width:1px;
    border-color:rgba(51, 65, 85, 0.5);
    border-radius:12px;
    box-shadow:3px 6px 12px 0 rgba(0,0,0,.25);
    background-color:rgba(30, 41, 59, 0.5);
}

.featurepage_card1_top{
    display:flex;
    justify-content:end;
    width:100%;
    height:45%;
    background-image:url("./images/aispeaker.jpg");
    background-size:cover;
    border-radius:12px 12px 0px 0px;
}

.featurepage_card1_sticker{
    display:flex;
    align-items:center;
    justify-content:center;
    height:24px;
    width:85px;
    margin:10px 10px;
    font-size:0.75rem;
    line-height:1rem;
    border:solid;
    border-width:1px;
    border-color:rgba(11, 18, 32, 1);
    border-radius:12px;
    background-color:rgba(24, 198, 209, 1);
    color:rgba(0, 39, 43, 1);
}

.featurepage_card2_top{
    display:flex;
    justify-content:end;
    width:100%;
    height:45%;
    background-image:url("./images/laggage.jpg");
    background-size:cover;
    border-radius:12px 12px 0px 0px;
}

.featurepage_card2_sticker{
    display:flex;
    align-items:center;
    justify-content:center;
    height:24px;
    width:92px;
    margin:10px 10px;
    font-size:0.75rem;
    line-height:1rem;
    border:solid;
    border-width:1px;
    border-color:rgba(11, 18, 32, 1);
    border-radius:12px;
    background-color:rgba(24, 198, 209, 1);
    color:rgba(0, 39, 43, 1);
}

.featurepage_card3_top{
    display:flex;
    justify-content:end;
    width:100%;
    height:45%;
    background-image:url("./images/planting.jpg");
    background-size:cover;
    border-radius:12px 12px 0px 0px;
}

.featurepage_card3_sticker{
    display:flex;
    align-items:center;
    justify-content:center;
    height:24px;
    width:101.6px;
    margin:10px 10px;
    font-size:0.75rem;
    line-height:1rem;
    border:solid;
    border-width:1px;
    border-color:rgba(11, 18, 32, 1);
    border-radius:12px;
    background-color:rgba(24, 198, 209, 1);
    color:rgba(0, 39, 43, 1);
}

.featurepage_card_bottom{
    padding-left:10px;
}

.featurepage_card_title{
    font-size:1.1rem;
    margin-top:15px;
    color:rgba(229, 231, 235, 1);
}

.featurepage_card_content{
    font-size:1rem;
    margin-top:10px;
    color:rgba(148, 163, 184, 1);
}

.featurepage_card_keyword_container{
    margin-top:15px;
    display:flex;
    align-items:center;
}

.featurepage_card_keyword{
    display:flex;
    align-items:center;
    height:30px;
    width:auto;
    margin-right:5px;
    margin-bottom:10px;
    padding:0.25rem 1rem;
    font-size:0.75rem;
    border:solid;
    border-width:1px;
    border-color:rgba(33, 65, 74, 1);
    border-radius:20px;
    background:none;
    color:rgba(142, 222, 228, 1);
}

.featurepage_card_link{
    margin-top:60px;
    font-size:1rem;
    line-height:1.25rem;
    color:rgba(24, 198, 209, 1);
    text-decoration-line:none;
}

.featurepage_more{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:20px;
    width:221px;
    height:58px;
    color:rgba(2, 6, 23, 1);
    font-size:1.25rem;
    line-height:1.75rem;
    background-color:rgba(24, 198, 209, 1);
    border-radius:29px;
}

.contactpage{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100vw;
    min-width:1420px;
    height:700px;
    background-color:rgba(2, 6, 23, 1);
}

.contactpage_title{
    display:flex;
    justify-content:center;
    height:40px;
    width:1232px;
    margin-top:80px;
    font-size:2.25rem;
    line-height:2.5rem;
    color:rgba(255, 255, 255, 1);
    font-weight:bold;
}

.contactpage_divider{
    height:4px;
    width:80px;
    margin-top:16px;
    background-color:rgba(34, 211, 238, 1);
}

.contactpage_subtitle{
    display:flex;
    justify-content:center;
    height:64px;
    width: 1232px;
    margin-bottom:64px;
    padding-top:24px;
    font-size:1rem;
    line-height:1.5rem;
    color:rgba(148, 163, 184, 1);
}

.contactpage_card_container{
    display:flex;
    justify-content:space-between;
    align-items:start;
    width:1232px;
    height:300px;
}

.contactpage_card{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    width:390px;
    height:280px;
    border:solid;
    border-width:1px;
    border-color:rgba(51, 65, 85, 0.5);
    border-radius:12px;
    box-shadow:3px 6px 12px 0 rgba(0,0,0,.25);
    background-color:rgba(30, 41, 59, 0.5);
}

.contactpage_card_emoji{
    font-size:2rem;
    line-height:2.25rem;
}

.contactpage_card_title{
    font-size:1.25rem;
    line-height:1.5rem;
    color:rgba(255, 255, 255, 1);
}

.contactpage_card_content{
    font-size:1rem;
    line-height:1.25rem;
    color:rgba(255, 255, 255, 1);
}

.contactpage_card_link{
    font-size:1rem;
    line-height:1.25rem;
    color:rgba(24, 198, 209, 1);
    text-decoration:none;
}

.contactpage_more{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:20px;
    width:221px;
    height:58px;
    color:rgba(2, 6, 23, 1);
    font-size:1.25rem;
    line-height:1.75rem;
    background-color:rgba(24, 198, 209, 1);
    border-radius:29px;
}

.footerpage{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100vw;
    min-width:1420px;
    height:364px;
    padding:48px 24px;
    background-color:rgba(2, 6, 23, 1);
    border-top:solid;
    border-color:rgba(148, 163, 184, 0.5);
}

.footerpage_info{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:1232px;
    height:66%;
    border-bottom:solid;
    border-color:rgba(148, 163, 184, 0.5);
}

.footerpage_info_intro{
    width:390px;
    height:100%;
}

.footerpage_info_intro_logo{
    color:rgba(34, 211, 238, 1);
    font-family: "Pacifico", cursive;
    font-size:1.5rem;
    line-height:2rem;
}

.footerpage_info_intro_line{
    display:flex;
    align-items:center;
    height:95px;
    font-size:1rem;
    line-height:1.2rem;
    color:rgba(148, 163, 184, 1);
}

.footerpage_info_intro_icon{
    display:flex;
    margin-top:0px;
    font-size:1rem;
    line-height:1.2rem;
    color:rgba(148, 163, 184, 1);
}

.footerpage_info_map{
    width:390px;
    height:100%;
}

.footerpage_info_map_title{
    font-size:1.25rem;
    line-height:2rem;
    color:rgba(255, 255, 255, 1);
}

.footerpage_info_map_link{
    font-size:1rem;
    line-height:1.8rem;
    color:rgba(148, 163, 184, 1);
    text-decoration:none;

}

.footerpage_info_touch{
    width:390px;
    height:100%;
}

.footerpage_info_touch_title{
    font-size:1.25rem;
    line-height:2rem;
    color:rgba(255, 255, 255, 1);
}

.footerpage_info_touch_info{
    font-size:1rem;
    line-height:2rem;
    color:rgba(148, 163, 184, 1);
}

.footerpage_data{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:1232px;
    height:33%;
    font-size:0.75rem;
    line-height:1rem;
    color:rgba(148, 163, 184, 1);
}

